{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium" id="section2">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
      </div>
      <div class="column is-8 mt-60">
        {{- range $features }}
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=5.763643383979798%2C45.2035285920389%2C5.768294334411621%2C45.205974017044916&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/45.20475/5.76597">Afficher une carte plus grande</a></small>
              <!-- <img src="{{ printf "images/illustrations/icons/%s.svg" .icon | relURL }}"> -->
            </p>
          </figure>
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text | markdownify }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div>
  </div>
</section>