{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
<section class="section is-medium" id="section2">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
      </div>
      {{- range $features }}
      <div class="column mt-60">
          <h3 class="subtitle">{{ .title }}</h3>
          <p class="">{{ .text | markdownify }}</p>
      </div>
      <div class="column">
        <p class="image">
          <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=5.763643383979798%2C45.2035285920389%2C5.768294334411621%2C45.205974017044916&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/45.20475/5.76597">Ouvrir dans OpenStreetMap</a></small>
          <!-- <img src="{{ printf "images/illustrations/icons/%s.svg" .icon | relURL }}"> -->
        </p>
      </div>
      
      {{- end }}
      
    </div>
  </div>
</section>